# Dependency directories
node_modules/
npm-debug.log

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Debug logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Build files
dist/
build/
public/build/

# Coverage reports
coverage/